/* ========================
        Global variable
=========================== */

:root {
    --clr-primary-1: #f1fafe;
    --clr-primary-2: #e1f4fd;
    --clr-primary-3: #bceafb;
    --clr-primary-4: #81daf8;
    --clr-primary-5: #3ec8f2;
    --clr-primary-6: #15b1e2;
    --clr-primary-7: #098fc0;
    --clr-primary-8: #086e96;
    --clr-primary-9: #0b6181;
    --clr-primary-10: #0f506b;

    /* define gray shade */
    /* for paragraph */
    --clr-gray-1: #f6f6f6;
    --clr-gray-2: #e7e7e7;
    --clr-gray-3: #d1d1d1;
    --clr-gray-4: #b0b0b0;
    --clr-gray-5: #888888;
    --clr-gray-6: #6d6d6d;
    --clr-gray-7: #5d5d5d;
    --clr-gray-8: #4f4f4f;
    --clr-gray-9: #454545;
    --clr-gray-10: #3b3b3b;
    --clr-gray-11: #262626;
    --clr-white: #fff;
    --ff-primary: 'Satoshi', sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --nav-desktop-height: 4rem;
}


/* ========================
        Global Setting
=========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-primary);
    background-color: var(--clr-white);
    color: var(--clr-gray-10);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ========================
        Navbar
=========================== */

/* ========================
   Navbar
=========================== */

.navbar {
    position: absolute;
    width: 100vw;
    height: var(--nav-desktop-height);
    top: 0px;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
    padding: 35px 60px;
    background-color: var(--clr-white);
}

/* logo container */
.nav-logo {
    width: 150px;
    filter: brightness(0) saturate(100%) invert(26%) sepia(60%) saturate(2236%) hue-rotate(173deg) brightness(94%) contrast(94%);
    width: 150px;
}

/* nav-list ul all the links */
.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    text-transform: capitalize;
    color: var(--clr-primary-8);
    border-bottom: 3px solid transparent;
    display: block;
    text-align: center;
    padding: 6px 0px;
    transition: var(--transition);
}



.mobile-menu-toggle {
    color: var(--clr-primary-8);
    font-size: 1.2rem;
    display: none;
    cursor: pointer;
}

@media (min-width: 769px) {
    .nav-link:hover {
        color: var(--clr-primary-9);
        border-bottom: 1px solid var(--clr-primary-9);
    }
}

/* medium screen */
@media (max-width: 768px) {
    .navbar {
        position: fixed;
        background: var(--clr-white);
        height: var(--nav-desktop-height);
        /* 使用變量來保持一致 */
        padding: auto;
        box-shadow: var(--light-shadow);
        display: flex;
        align-items: center;
        z-index: 100;
        width: 100%;
    }

    .nav-links {
        /* overflow: hidden; */
        opacity: 0;
        background: var(--clr-primary-8);
        width: 100%;
        padding: 3rem;
        position: fixed;
        top: 70px;
        left: 0;
        opacity: 0;
        z-index: 1;
        height: 100vh;
        translate: opacity 0.3s ease;
        visibility: hidden;
        translate: var(--transition);
    }

    .nav-links.active {
        display: block;
        visibility: visible;
        opacity: 1;
        translate: var(--transition);
    }

    .nav-list {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .nav-link {
        color: var(--clr-white);
    }

    .nav-link:hover {
        color: var(--clr-primary-1);
        background-color: var(--clr-primary-7);
        border-radius: 20px;
    }

    .mobile-menu-toggle {
        display: block;
    }

    .nav-logo {
        filter: brightness(0) saturate(100%) invert(26%) sepia(60%) saturate(2236%) hue-rotate(173deg) brightness(94%) contrast(94%);
        width: 150px;
    }
}

/* ========================
        footer
=========================== */

.footer {
    margin: 150px;
    display: grid;
    grid-template-columns: 40% 30% 30%;
}

.company-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;

    p {
        font-weight: bold;
    }
}

.footer-logo {
    filter: brightness(0) saturate(100%) invert(26%) sepia(60%) saturate(2236%) hue-rotate(173deg) brightness(94%) contrast(94%);
    width: 200px;
}

.newsletter {
    position: relative;
    display: inline-block;
}

input#email {
    padding: 12px 160px 12px 10px;
    border: 1px solid var(--clr-gray-3);
    border-radius: 8px;
}

.btn-submit {
    margin: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: var(--clr-primary-8);
    color: var(--clr-white);
    padding: 8px 25px;
    border: none;
    border-radius: 6px;
}

p.copyright-tag {
    font-size: 12px;
    font-weight: 500;
    margin-top: 30px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--clr-gray-10);
    font-weight: bold;
}

.footer-info-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    li {
        color: var(--clr-gray-10);
        font-weight: bold;
        display: flex;
        align-items: top;
        gap:4px;
    }
}

.footer-link:hover {
    color:var(--clr-primary-8);
}

.ph {
    color:var(--clr-primary-8);
    font-size: 1.2rem;
}


@media (max-width:975px) {

    .footer{
        display:flex;
        flex-direction: column;
        margin:80px 50px 50px 40px;
        gap:30px;
        justify-content: left;
        align-items: left;
    }

    .footer-left {
        padding:20px 0px;
        border-bottom: 1px solid var(--clr-gray-2);
    }

    .company-info {
        gap:24px;
    }

    .footer-links {
        display: flex;
        justify-content: left;
        padding-bottom:20px;
        border-bottom: 1px solid var(--clr-gray-2);
    }
    
    .footer-link {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: var(--clr-gray-10);
        font-weight: bold;
        
    }
    .footer-info-list {
        justify-content: left;
        align-items: left;;
    }
}

/* ========================
Global Setting End
=========================== */

